language: cpp 

sudo: required 

git: 
 depth: 3

os: osx
osx_image: xcode11.3
compiler: clang

matrix:
  include:
    - env:
        # 1. Only examples and associated tests
        - CMAKE_EXAMPLE='ON' CMAKE_TEST='OFF' CMAKE_UTILITIES='OFF' CMAKE_PYTHON='OFF' MAKE_TARGET='all' CTEST_COMMAND='ctest --output-on-failure'
    - env:
        # 2. Only unitary tests
        - CMAKE_EXAMPLE='OFF' CMAKE_TEST='ON' CMAKE_UTILITIES='OFF' CMAKE_PYTHON='OFF' MAKE_TARGET='all' CTEST_COMMAND='ctest --output-on-failure'
    - env:
        # 3. Only utilities and associated tests
        - CMAKE_EXAMPLE='OFF' CMAKE_TEST='OFF' CMAKE_UTILITIES='ON' CMAKE_PYTHON='OFF' MAKE_TARGET='all' CTEST_COMMAND='ctest --output-on-failure'
    - env:
        # 4. Only doxygen documentation
        - CMAKE_EXAMPLE='OFF' CMAKE_TEST='OFF' CMAKE_UTILITIES='OFF' CMAKE_PYTHON='OFF' MAKE_TARGET='doxygen' CTEST_COMMAND='echo No tests for doxygen target'
    - env:
        # 5. Only Python, associated tests and sphinx documentation
        # $ which python3   => /usr/local/bin/python3
        # cmake             => -- Found PythonInterp: /usr/local/bin/python3 (found version "3.7.5")
        # In python3-sphinx-build.py, print(sys.executable)   => /usr/local/opt/python/bin/python3.7   ???
        # should be : MAKE_TARGET='all sphinx' CTEST_COMMAND='ctest --output-on-failure'
        - CMAKE_EXAMPLE='OFF' CMAKE_TEST='OFF' CMAKE_UTILITIES='OFF' CMAKE_PYTHON='ON' MAKE_TARGET='all' CTEST_COMMAND='ctest --output-on-failure -E sphinx'

cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/Library/Caches/Homebrew

addons:
  homebrew:
    update: true
    packages:
      - cmake
      - graphviz 
      - doxygen
      - boost
      - eigen
      - gmp
      - mpfr
      - tbb
      - cgal
#      - python3

before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log
  - brew cleanup

before_install:
  - which python
  - python --version
  - which python3
  - python3 --version

# When installing through libcgal-dev apt, CMake Error at CGAL Exports.cmake The imported target "CGAL::CGAL Qt5" references the file
install: 
  - python3 -m pip install --upgrade pip setuptools wheel
  - python3 -m pip install --user pytest Cython sphinx sphinxcontrib-bibtex sphinx-paramlinks matplotlib numpy scipy scikit-learn
  - python3 -m pip install --user POT

script: 
  - rm -rf build
  - mkdir -p build 
  - cd build 
  - cmake -DCMAKE_BUILD_TYPE=Release -DWITH_GUDHI_EXAMPLE=${CMAKE_EXAMPLE} -DWITH_GUDHI_TEST=${CMAKE_TEST} -DWITH_GUDHI_UTILITIES=${CMAKE_UTILITIES} -DWITH_GUDHI_PYTHON=${CMAKE_PYTHON} -DUSER_VERSION_DIR=version -DPython_ADDITIONAL_VERSIONS=3 .. 
  - make ${MAKE_TARGET}
  - ${CTEST_COMMAND}
  - cd ..

notifications:
  email:
    on_success: change # default: always
    on_failure: always # default: always
