jobs:
  - job: "OSx"
    displayName: "Build and test OSx"
    timeoutInMinutes: 0
    cancelTimeoutInMinutes: 60
    pool:
      vmImage: macOS-14
    variables:
      pythonVersion: "3.11"
      cmakeBuildType: Release
      gudhiCmakeOptions: -DWITH_GUDHI_EXAMPLE=ON -DWITH_GUDHI_REMOTE_TEST=ON
      # On this VM, 2 versions of python are installed. Default Python_FIND_FRAMEWORK is FIRST, which means asks frameworks first
      # LAST means consult frameworks in last resort, use the PATH first
      extraCmakeOptions: -DPython_FIND_FRAMEWORK=LAST
      # To cache scikit_learn_data - no need to always download it and fails sometimes
      SCIKIT_LEARN_DATA: $(Agent.BuildDirectory)/scikit_learn_data

    steps:
      - task: Cache@2
        inputs:
          key: 'scikit-learn-data | "$(Agent.OS)"'
          restoreKeys: |
            scikit-learn-data | "$(Agent.OS)"
          path: |
            $(Agent.BuildDirectory)/scikit_learn_data
        displayName: "Cache scikit-learn data"
      - checkout: self
        submodules: true
      # Use a specific Python version
      - task: UsePythonVersion@0
        displayName: Use Python $(pythonVersion)
        inputs:
          versionSpec: $(pythonVersion)
          addToPath: true
          architecture: "x64"

      - bash: |
          python -m pip install --user -r ext/gudhi-deploy/build-requirements.txt
          python -m pip install --user -r ext/gudhi-deploy/test-requirements.txt
          python -m pip uninstall -y pykeops
          if ! brew update; then
            echo "Warning: brew update returned a non-zero exit code."
          fi
          if ! brew install ninja graphviz doxygen boost eigen gmp mpfr tbb cgal; then
            echo "Warning: brew install returned a non-zero exit code."
          fi
        displayName: "Install build dependencies"
      - bash: |
          which python
          python -m pip install .
          cd build
          cmake -DCMAKE_BUILD_TYPE:STRING=$(cmakeBuildType) $(extraCmakeOptions) -GNinja $(gudhiCmakeOptions) ..
          ninja
          ninja doxygen

          ctest --output-on-failure
        displayName: "Build, test and documentation generation"

  - job: "Windows"
    displayName: "Build and test Windows"
    timeoutInMinutes: 0
    cancelTimeoutInMinutes: 60
    pool:
      vmImage: windows-2025
    variables:
      pythonVersion: "3.9"
      cmakeBuildType: Release
      cmakeVcpkgFlags: -DVCPKG_TARGET_TRIPLET=x64-windows -DCMAKE_TOOLCHAIN_FILE=c:\vcpkg\scripts\buildsystems\vcpkg.cmake
      gudhiCmakeOptions: -DWITH_GUDHI_PYTHON=OFF -DWITH_GUDHI_UTILITIES=OFF -DDEBUG_TRACES=ON -DWITH_MODULE_GUDHI_Persistence_matrix=OFF -DWITH_MODULE_GUDHI_Persistence_representations=OFF -DWITH_MODULE_GUDHI_Persistent_cohomology=OFF -DFORCE_EIGEN_DEFAULT_DENSE_INDEX_TYPE_TO_INT=ON
      # On this VM, 2 versions of python are installed. Default Python_FIND_REGISTRY is FIRST, which means asks registry first
      # LAST means consult registry in last resort, use the standard libraries or headers first
      extraCmakeOptions: -DPython_FIND_REGISTRY=LAST
      # To cache scikit_learn_data - no need to always download it and fails sometimes
      SCIKIT_LEARN_DATA: $(Agent.BuildDirectory)/scikit_learn_data

    steps:
      - task: Cache@2
        inputs:
          key: 'scikit-learn-data | "$(Agent.OS)"'
          restoreKeys: |
            scikit-learn-data | "$(Agent.OS)"
          path: |
            $(Agent.BuildDirectory)/scikit_learn_data
        displayName: "Cache scikit-learn data"
      - checkout: self
        submodules: true
      # Use a specific Python version
      - task: UsePythonVersion@0
        displayName: Use Python $(pythonVersion)
        inputs:
          versionSpec: $(pythonVersion)
          addToPath: true
          architecture: "x64"
      - pwsh: |
          $ErrorActionPreference = "stop"
          $PSNativeCommandUseErrorActionPreference = $true
          choco install -y ninja --force --force-dependencies
          $originalDir = Get-Location
          Set-Location "C:\vcpkg"
          git pull
          vcpkg update
          Set-Location $originalDir
          # Only vcpkg release libs for CI
          Add-Content -Path "C:\vcpkg\triplets\x64-windows.cmake" -Value "set(VCPKG_BUILD_TYPE release)"
          vcpkg install boost-filesystem:x64-windows boost-test:x64-windows boost-program-options:x64-windows tbb:x64-windows eigen3:x64-windows cgal:x64-windows
        displayName: "Install build dependencies"
      - task: BatchScript@1
        inputs:
          filename: 'C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat'
          modifyEnvironment: true
      - pwsh: |
          $ErrorActionPreference = "stop"
          $PSNativeCommandUseErrorActionPreference = $true
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE:STRING=$(cmakeBuildType) -GNinja $(cmakeVcpkgFlags) $(gudhiCmakeOptions) $(extraCmakeOptions) --log-level=DEBUG ..
          ninja triangulation
          ctest -R triangulation -V
        displayName: "Build and test"
