Source: gudhi
Priority: optional
Maintainer: Marc Glisse <marc.glisse@normalesup.org>
Build-Depends: debhelper (>= 9), cmake, libboost-dev
Standards-Version: 3.9.6
Section: libs
Homepage: http://gudhi.gforge.inria.fr/
#Vcs-Git: git://anonscm.debian.org/collab-maint/gudhi.git
#Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/gudhi.git;a=summary

Package: libgudhi-dev
Section: libdevel
Architecture: all
Depends: libboost-dev, ${misc:Depends}
Recommends: libcgal-dev
Description: Gudhi library for topological data analysis
 The Gudhi library (Geometric Understanding in Higher Dimensions) is a generic
 open source C++ library for Computational Topology and Topological Data
 Analysis (TDA).
 .
 The current release of the GUDHI library includes:
 * Data structures to represent, construct and manipulate simplicial and
 cubical complexes, including alpha-complex, witness complex, Rips complex.
 * Algorithms to compute persistent homology and multi-field persistent
 homology.
 * Simplication of simplicial complexes by edge contraction.
