name: pip build osx

on: [push, pull_request]

env:
  MACOSX_DEPLOYMENT_TARGET: 10.15
  _PYTHON_HOST_PLATFORM: macosx-10.15-universal2
  ARCHFLAGS: "-arch arm64 -arch x86_64"

jobs:
  build:
    runs-on: macos-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']
        # gudhi requires numpy >= 1.15.0, but minimal numpy version for python 3.8 is 1.17.3 for instance
        # numpy~=1.17.3 means any numpy=1.17.*, but also numpy>=1.17.3 (numpy~=1.17 do not work as it means any numpy==1.*)
        include:
          - python-version: '3.7'
            numpy-version: '1.15.0'
          - python-version: '3.8'
            numpy-version: '1.17.3'
          - python-version: '3.9'
            numpy-version: '1.19.3'
          - python-version: '3.10'
            numpy-version: '1.21.6'
          - python-version: '3.11'
            numpy-version: '1.23.2'
    name: Build wheels for Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install dependencies
        run: |
          brew update || true
          brew install boost eigen gmp mpfr cgal || true
          python -m pip install --user numpy~=${{ matrix.numpy-version }}
          python -m pip install --user -r ext/gudhi-deploy/build-requirements.txt
          python -m pip install --user delocate
          ./scripts/build_osx_universal_gmpfr.sh
          # Now the universal libraries are in $PWD/deps-uni/lib
      - name: Build python wheel
        run: |
          export   GMP_LIB_DIR=$PWD/deps-uni/lib
          export GMPXX_LIB_DIR=$PWD/deps-uni/lib
          export  MPFR_LIB_DIR=$PWD/deps-uni/lib
          python --version
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DPython_ADDITIONAL_VERSIONS=3 ..
          cd src/python
          python -m build -n -w
          export PATH="$PATH:`python -m site --user-base`/bin"
          delocate-wheel --require-archs universal2 -v dist/*.whl
      - name: Install and test python wheel
        run: |
          python -m pip install --user  numpy --upgrade
          python -m pip install --user pytest build/src/python/dist/*.whl
          python -c "import gudhi; print(gudhi.__version__)"
          python -m pytest src/python/test/test_alpha_complex.py
          python -m pytest src/python/test/test_bottleneck_distance.py"
          python -m pytest src/python/test/test_cubical_complex.py"
          python -m pytest src/python/test/test_rips_complex.py"
      - name: Upload OSx python wheel
        uses: actions/upload-artifact@v3
        with:
          name: osx python wheel
          path: build/src/python/dist/*.whl
