name: pip packaging osx

on:
  push: {}
  pull_request: {}
# on:
#   release:
#     types: [published]

jobs:
  build:
    runs-on: macos-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ['3.5', '3.6', '3.7', '3.8']
    name: Build wheels for Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: true
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install dependencies
        run: |
          brew update && brew install boost eigen gmp mpfr cgal
          python -m pip install --user -r .github/build-requirements.txt
          python -m pip install --user twine delocate
      - name: Build python wheel
        run: |
          python --version
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DPython_ADDITIONAL_VERSIONS=3 ..
          cd src/python
          python setup.py bdist_wheel
      - name: Publish on PyPi
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          mkdir wheelhouse
          type delocate-listdeps
          type delocate-wheel
          delocate-listdeps build/src/python/dist/*
          delocate-wheel --require-archs x86_64 -w wheelhouse build/src/python/dist/*
          python -m twine upload --repository-url https://test.pypi.org/legacy/ wheelhouse/*