name: pip build linux

on: [push, pull_request]

jobs:
  build:
    name: build pip wheel
    runs-on: ubuntu-latest
    # cf. https://github.com/GUDHI/gudhi-deploy/blob/main/Dockerfile_for_pip
    container: gudhi/pip_for_gudhi
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: true
      - name: Build wheel for Python 3.9
        run: |
          mkdir build_39
          cd build_39
          cmake -DCMAKE_BUILD_TYPE=Release -DPYTHON_EXECUTABLE=$PYTHON39/bin/python ..
          cd src/python
          $PYTHON39/bin/python setup.py bdist_wheel
          auditwheel repair dist/*.whl
      - name: Install and test wheel for Python 3.9
        run: |
          $PYTHON39/bin/python -m pip install --user pytest build_39/src/python/dist/*.whl
          $PYTHON39/bin/python -m pytest src/python/test/test_alpha_complex.py
