name: pip packaging windows

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']
        include:
          - python-version: '3.7'
            numpy-version: '1.15.0'
          - python-version: '3.8'
            numpy-version: '1.18.0'
          - python-version: '3.9'
            numpy-version: '1.20.0'
          - python-version: '3.10'
            numpy-version: '1.22.0'
          - python-version: '3.11'
            numpy-version: '1.24.0'
    name: Build wheels for Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install dependencies
        run: |
          set VCPKG_BUILD_TYPE=release
          vcpkg install eigen3 cgal --triplet x64-windows
          vcpkg version
          ls "C:\vcpkg\installed\x64-windows\bin\"
          python -m pip install --user numpy~=${{ numpy.python-version }}
          python -m pip install --user -r .\ext\gudhi-deploy\build-requirements.txt
          python -m pip install --user twine
          python -m pip list
      - name: Build python wheel and install it
        run: |
          mkdir build
          cd ".\build\"
          cmake -DCMAKE_BUILD_TYPE=Release -DFORCE_EIGEN_DEFAULT_DENSE_INDEX_TYPE_TO_INT=ON -DCMAKE_TOOLCHAIN_FILE=c:\vcpkg\scripts\buildsystems\vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-windows ..
          cd ".\src\python\"
          cp "C:\vcpkg\installed\x64-windows\bin\mpfr*.dll" ".\gudhi\"
          cp "C:\vcpkg\installed\x64-windows\bin\gmp*.dll" ".\gudhi\"
          python -m build -n -w
          ls ".\dist\"
          cd ".\dist\"
          Get-ChildItem *.whl | ForEach-Object{python -m pip install --user $_.Name}
      - name: Test python wheel
        run: |
          python -m pip install --user  numpy --upgrade
          python -m pip install --user pytest
          python -c "import gudhi; print(gudhi.__version__)"
          python -m pytest ".\src\python\test\test_alpha_complex.py"
      - name: Publish on PyPi
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: python -m twine upload build/src/python/dist/*.whl
