name: pip build windows

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ['3.8']
    name: Build wheels for Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: true
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install dependencies
        run: |
          vcpkg update
          vcpkg upgrade --no-dry-run
          type c:/vcpkg/ports/cgal/portfile.cmake
          vcpkg install eigen3 cgal --triplet x64-windows
          python -m pip install --user -r .github/build-requirements.txt
          python -m pip list
      - name: Build python wheel
        run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DGMP_INCLUDE_DIR="c:/vcpkg/installed/x64-windows/include" -DGMP_LIBRARIES="c:/vcpkg/installed/x64-windows/lib/mpir.lib" -DGMP_LIBRARIES_DIR="c:/vcpkg/installed/x64-windows/lib" -DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-windows -DPython_ADDITIONAL_VERSIONS=3 ..
          cd src/python
          cp c:/vcpkg/installed/x64-windows/bin/mpfr.dll gudhi/
          cp c:/vcpkg/installed/x64-windows/bin/mpir.dll gudhi/
          python setup.py bdist_wheel