name: pip packaging linux

on:
  release:
    types: [published]

jobs:
  build:
    name: build pip wheels
    runs-on: ubuntu-latest
    container: gudhi/pip_for_gudhi
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: true
      - name: Build wheels for Python 3.5
        run: |
          mkdir build_35
          cd build_35
          cmake -DCMAKE_BUILD_TYPE=Release -DPYTHON_EXECUTABLE=$PYTHON35/bin/python ..
          cd src/python
          $PYTHON35/bin/python setup.py bdist_wheel
          auditwheel repair dist/*.whl
      - name: Build wheels for Python 3.6
        run: |
          mkdir build_36
          cd build_36
          cmake -DCMAKE_BUILD_TYPE=Release -DPYTHON_EXECUTABLE=$PYTHON36/bin/python ..
          cd src/python
          $PYTHON36/bin/python setup.py bdist_wheel
          auditwheel repair dist/*.whl
      - name: Build wheels for Python 3.7
        run: |
          mkdir build_37
          cd build_37
          cmake -DCMAKE_BUILD_TYPE=Release -DPYTHON_EXECUTABLE=$PYTHON37/bin/python ..
          cd src/python
          $PYTHON37/bin/python setup.py bdist_wheel
          auditwheel repair dist/*.whl
      - name: Build wheels for Python 3.8
        run: |
          mkdir build_38
          cd build_38
          cmake -DCMAKE_BUILD_TYPE=Release -DPYTHON_EXECUTABLE=$PYTHON38/bin/python ..
          cd src/python
          $PYTHON38/bin/python setup.py bdist_wheel
          auditwheel repair dist/*.whl
      - name: Build wheels for Python 3.9
        run: |
          mkdir build_39
          cd build_39
          cmake -DCMAKE_BUILD_TYPE=Release -DPYTHON_EXECUTABLE=$PYTHON39/bin/python ..
          cd src/python
          $PYTHON39/bin/python setup.py bdist_wheel
          auditwheel repair dist/*.whl
      - name: Publish on PyPi
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          $PYTHON39/bin/python -m twine upload build_35/src/python/wheelhouse/*
          $PYTHON39/bin/python -m twine upload build_36/src/python/wheelhouse/*
          $PYTHON39/bin/python -m twine upload build_37/src/python/wheelhouse/*
          $PYTHON39/bin/python -m twine upload build_38/src/python/wheelhouse/*
          $PYTHON39/bin/python -m twine upload build_39/src/python/wheelhouse/*